.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: -0px -0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -0px -0px 15px -10px rgba(0,0,0,0.75);
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarLeft{
    width: 250px;
    padding-left: 20px;
    padding-bottom: 5px;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.topbarRight{
    display: flex;
    align-items: center;
}

.topbarIconContainner{
    position: relative;
    cursor:  pointer;
    margin-right: 10px;
    color: #555;

}
.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}