.chart{
    margin: 20px;
    padding: 20px;
    background: #e5e5e5;
    border-radius: 10px;
    box-shadow: -0px -0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -0px -0px 15px -10px rgba(0,0,0,0.75);
}

.charTitle{
    margin-bottom: 20px;
    font-size: 20px;
    color: #191645; 
}